body {
  margin: 0;
  min-width: 1440px;
  min-height: 100vh;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3C425F;;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 280px 1fr;
  grid-template-areas: 
    "nav header"
    "nav main"
    "footer footer";
}

.page-nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: 80px 1fr auto;
  background-color: #FFFFFF;
  border-right: 1px solid #B4BEF0;
}

.page-nav .logo {
  align-self: center;
  margin-left: 30px;
}

.page-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-menu-item-acticve {
  background-color: #F1F3FE;
  border-left: 6px solid #576BCC;
}

.page-menu-item-acticve .page-menu-link {
  padding-left: 56px;
}

.page-menu-link {
  display: block;
  padding: 20px 25px 20px 62px;
  font-size: 16px;
  line-height: 20px;
  color: #3C425F;
  text-decoration: none;
  background-position: 30px 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.page-menu-item-acticve .page-menu-link {
  font-weight: 500;
  color: #576BCC;
  background-position: 24px 50%;
}

.page-menu-tools {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.page-menu-link-cab {
  background-image: url('../img/cab.svg');
}

.page-menu-link-class {
  background-image: url('../img/class.svg');
}

.page-menu-link-manual {
  background-image: url('../img/book.svg');
}

.page-menu-link-homework {
  background-image: url('../img/home.svg');
}

.page-menu-link-exam {
  background-image: url('../img/exam.svg');
}

.page-menu-link-settings {
  background-image: url('../img/settings.svg');
}

.page-header {
  grid-area: header;
  min-height: 80px;
}

.page-main {
  grid-area: main;
}

.page-footer {
  grid-area: footer;
  min-height: 60px;
}