body {
  min-height: 100vh;
  padding: 30px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 135%;
  color: #01170A;
  background-color: #F7F7FA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-columns: 252px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 40px 30px;
}

.page-nav {
  grid-row: 1 / span 1;
  display: grid;
  grid-template-rows: 60px 1fr auto;
  row-gap: 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
  border-radius: 10px
}

.logo {
  padding: 40px 0 0 30px;
}

.site-menu {
  margin: 0;
  padding: 0 0 0 30px;
  list-style: none;
}

.site-menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.site-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

.site-menu-link {
  color: inherit;
  text-decoration: none;
}

.user-menu {
  margin: 0;
  padding: 18px 0 28px 30px;
  border-top: 1px solid rgba(1, 23, 10, 0.1);
  list-style: none;
}

.user-menu-link {
  position: relative;
  display: block;
  padding: 12px 0;
  font-weight: 400;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}

.user-menu-link::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 12px;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.user-menu-link-account::before {
  background-image: url("../img/icons/user.svg");
}

.user-menu-link-about::before {
  background-image: url("../img/icons/info.svg");
}

.page-main {
  grid-area: 1 / 2 / -2 / -1;
}

.slider {
  position: relative;
  max-height: 344px;
}

.slider-img {
  box-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
  border-radius: 10px;
}

.slider-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  max-width: 450px;
  max-height: 132px;
  margin: auto;
}

.slider-headline {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
}

.slider-text {
  margin: 0;
  font-size: 16px;
  line-height: 140%;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.slider-controls-item:not(:last-child) {
  margin-right: 10px;
}

.slider-controls-button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: #E8E8EB;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls-button-active {
  background-color: #31B768;
}

.settings {
  margin: 40px 0 0;
}

.sort-and-search {
  display: grid;
  grid-template-columns: max-content 1fr auto;
  column-gap: 20px;
}

.sort-and-search h3 {
  align-self: start;
  margin: 15px 0 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-item {
  margin-bottom: 14px;
}

.sort-item:not(:last-child) {
  margin-right: 20px;
}

.sport-item-button {
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  background-color: transparent;
  border: 1px solid #31B768;
  border-radius: 5px;
  cursor: pointer;
}

.sport-item-button:hover {
  color: #FFFFFF;
  background-color: #31B768;
}

.hashtag {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.hashtag h3 {
  align-self: start;
  margin: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.hashtag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hashtag-item {
  margin-bottom: 14px;
}

.hashtag-item:not(:last-child) {
  margin-right: 15px;
}

.hashtag-item-button {
  padding: 10px 15px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  background-color: transparent;
  border: 1px solid #31B768;
  border-radius: 5px;
  cursor: pointer;
}

.hashtag-item-button:hover {
  color: #FFFFFF;
  background-color: #31B768;
}

.search-field {
  width: 252px;
  padding: 12px 30px 12px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  border: 1px solid #31B768;
  border-radius: 5px;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 14px;
}

.page-promo {
  grid-row: 2 / -2;
}

.page-footer {
  grid-area: 3 / 1 / -1 / -1;
}