body {
  min-height: 100vh;
  padding: 30px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 135%;
  color: #01170a;
  background-color: #F7F7FA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1380px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-columns: 252px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 40px 30px;
}

.page-nav {
  grid-row: 1 / span 1;
}

.page-main {
  grid-area: 1 / 2 / -2 / -1;
}

.page-promo {
  grid-row: 2 / -2;
}

.page-footer {
  grid-area: 3 / 1 / -1 / -1;
}