body {
  min-height: 100vh;
  padding: 30px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 135%;
  color: #01170a;
  background-color: #F7F7FA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1380px;
  margin: 0 auto;
}