body {
  margin: 0;
  min-width: 1440px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1380px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #06A9B3;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #06A9B3;
  text-decoration: none;
  border: none;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: #F2F8FB;
}

.header-nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 64px;
  align-items: center;
  min-height: 80px;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  margin-right: 64px;
}

.menu-item:last-child {
  margin-right: 0;
}

.user-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  justify-self: center;
}

.search {
  width: 16px;
  height: 16px;
  padding: 0 10px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}

.main {
  grid-area: main;
}

.promo {
  padding-bottom: 100px;
  background-color: #F2F8FB;
}

.promo-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  column-gap: 24px;
}

.promo h1 {
  z-index: 1;
  grid-area: 2 / 2 / 3 / 8;
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: #333333;
}

.promo-city {
  z-index: 1;
  grid-area: 1 / 2 / 2 / 8;
  margin: 80px 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  opacity: 0.3;
}

.promo-text {
  z-index: 1;
  grid-area: 3 / 2 / 4 / 8;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

.promo-button {
  grid-area: 4 / 2 / 5 / 4;
  margin-bottom: 90px;
  justify-self: start;
  align-self: start;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(auto-fit, 44px);
  grid-area: 5 / 2 / 6 / 5;
  column-gap: 73px;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-media-link  {
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-media-link-facebook {
  background-image: url('../img/facebook.svg');
}

.social-media-link-instagram {
  background-image: url('../img/instagram.svg');
}

.social-media-link-vk {
  background-image: url('../img/vk.svg');
}

.promo-img-container {
  grid-area: 1 / 6 / -1 / -1;
}

.promo-img-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-controls {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-area: 5 / 6 / -1 / -1;
  align-self: end;
}

.slider-button {
  width: 105px;
  height: 66px;
  padding: 0;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 16px;
  border: none;
}

.slider-button-prev {
  background-image: url('../img/arrow-left.svg');
}

.slider-button-next {
  background-image: url('../img/arrow-right-fill.svg');
  border-left: 2px solid #EAF2F6;
}

.slider-page {
  margin: 10px 30px 0 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: right;
}

.footer {
  grid-area: footer;
  background-color: #F2F8FB;
}