*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 26px;
  margin: 0;
  padding: 30px;
}

.link {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 15px 25px;
  text-transform: uppercase;
}

.link--1 {
  color: #435a6b;
}

.link--1::before,
.link--1::after {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.link--1::before {
  content: "[";
  margin-right: 10px;
  transform: translateX(-20px);
}

.link--1::after {
  content: "]";
  margin-left: 10px;
  transform: translateX(20px);
}

.link--1:hover::before,
.link--1:focus::before,
.link--1:hover::after,
.link--1:focus::after{
  opacity: 1;
  transform: translateX(0);
}

.link--2 {
  color: #f19f0f;
  padding: 8px 0;
  transition: border-bottom-width 0.3s ease;
}

.link--2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d88f0d;
  transform: translateY(16px);
  opacity: 0;
  transition: opacity 0.3s ease,  transform 0.3s ease;
}

.link--2:hover::after,
.link--2:focus::after{
  opacity: 1;
  transform: translateY(0);
}


.link--3 {
  color: #cd4436;
  padding: 0 4px;
  height: 1em;
}

.link--3:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 4px;
  color: #cd4436;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s ease;
}

.link--3:hover::after,
.link--3:focus::after{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.link--3_2 {
  color: #cd4436;
  padding: 0 4px;
  height: 1em;
  overflow: hidden;
}

.link--3_2 span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.link--3_2 span::before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  color: #cd4436;
  font-weight: bold;
  text-transform: uppercase;
}

.link--3_2:hover span,
.link--3_2:focus span{
  transform: translateY(-100%);
}

.link--4 {
  color: #435a6b;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
}

.link--4::before, .link--4::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #435a6b;
  opacity: 0.5;
  transition: opacity 0.3s ease, top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease;
}

.link--4::before {
  left: 0;
}

.link--4::after {
  right: 0;
}

.link--4:hover::before {
  top: -50%;
  left: 50%;
  opacity: 1;
  transform: rotate(90deg);
}

.link--4:hover::after {
  bottom: -50%;
  right: 50%;
  opacity: 1;
  transform: rotate(90deg);
}

.link--5 {
  padding: 10px 20px;
  color: #0e83cd;
}

.link--5::before,
.link--5::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 4px solid #0e83cd;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.link--5::after {
  opacity: 0;
  transform: translate(4px, -4px);
}

.link--5:hover::before {
  opacity: 0;
  transform: translate(-4px, 4px);
}

.link--5:hover::after {
  opacity: 0.5;
  transform: translate(0, 0);
}
