body {
  min-width: 1440px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #40393B;
  background-color: #F2F1F0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}