*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 30px;
}

.button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 15px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.button--1 {
  color: #ffffff;
  overflow: hidden;
}

.button--1 span {
  position: relative;
  display: block;
  background-color: #007aff;
  padding: 20px 30px;
  transition: transform 0.3s ease;
}

.button--1 span::before {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  padding: 20px 30px;
  color: #007aff;
  background-color: #d5e7fb;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.button--1:hover span,
.button--1:focus span{
  transform: translateX(100%);
}

.button--2 {
  border: 3px solid #007aff;
  color: #007aff;
  padding: 20px 30px;
}

.button--2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #007aff;
  opacity: 0.5;
  clip-path: inset(0 50% 0 50%);
  transform-origin: center;
  transition: clip-path 0.3s ease;
}

.button--2:hover::before {
  clip-path: inset(0 5% 0 5%);
}

.button--2:focus::before {
  clip-path: inset(0);
}

.button--2_2 {
  border: 3px solid #007aff;
  color: #007aff;
  padding: 20px 30px;
}

.button--2_2::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #007aff;
  opacity: 0.5;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.button--2_2:hover::before {
  transform: scaleX(90%);
}

.button--2_2:focus::before {
  transform: scaleX(100%);
}

.button--3 {
  color: #000000;
  font-weight: bold;
  padding: 20px 30px;
  transition: color 0.3s ease;
}

.button--3::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #f2994a;
  transform: scaleY(10%);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.button--3:hover,
.button--3:focus {
  color: #ffffff;
}

.button--3:hover::before,
.button--3:focus::before {
  transform: scaleY(100%);
}

.button--3_2 {
  color: #000000;
  font-weight: bold;
  padding: 20px 30px;
  transition: color 0.3s ease;
}

.button--3_2::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #f2994a;
  clip-path: inset(90% 0 0 0);
  /*clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);*/
  transform-origin: bottom;
  transition: clip-path 0.3s ease;
}

.button--3_2:hover,
.button--3_2:focus {
  color: #ffffff;
}

.button--3_2:hover::before,
.button--3_2:focus::before {
  clip-path: inset(0);
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);*/
}

.button--4 {
  padding: 20px 30px;
  font-weight: 700;
  color: #000000;
  overflow: hidden;
  transition:  color 0.3s ease;
}

.button--4:hover,
.button--4:focus{
  color: #ffffff;
}

.button--4::before,
.button--4::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.7;
  transform: scale(0.6, 0.1);
  transition:  transform 0.5s ease, opacity 0.3s ease;
}

.button--4::before {
  top: 0;
  left: 0;
  background-color: #9534F5;
  transform-origin: left bottom;
}

.button--4::after {
  bottom: 0;
  right: 0;
  background-color: #FD079B;
  transform-origin: right top;
}

.button--4:hover::before,
.button--4:hover::after,
.button--4:focus::before,
.button--4:focus::after{
  transform: scale(1, 1);
  opacity: 1;
}

.button--4_2 {
  padding: 20px 30px;
  font-weight: 700;
  color: #000000;
  overflow: hidden;
  transition: color 0.3s ease;
}

.button--4_2::before,
.button--4_2::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.7;
  transition: clip-path 0.3s ease, opacity 0.3s ease;
}

.button--4_2::before {
  top: 0;
  left: 0;
  clip-path: inset(90% 40% 0 0);
  background-color: #9534F5;
  transform-origin: bottom left;
}

.button--4_2::after {
  bottom: 0;
  right: 0;
  clip-path: inset(0 0 90% 40%);
  background-color: #FD079B;
  transform-origin: top right;
}

.button--4_2:hover,
.button--4_2:focus{
  color: #ffffff;
}

.button--4_2:hover::before,
.button--4_2:hover::after,
.button--4_2:focus::before,
.button--4_2:focus::after{
  clip-path: inset(0);
  opacity: 1;
}

.button--5 {
  background-color: #f29e0d;
  border: 2px solid #f29e0d;
  padding: 25px 60px 25px 120px;
  border-radius: 10px;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.button--5::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 60px;
  height: 100%;
  line-height: 3;
  font-size: 140%;
  color: #fcad26;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M0.333328 13.6667V7.83334H6.16666L3.48583 10.5167C4.41079 11.4625 5.67705 11.997 6.99999 12C9.1162 11.9969 11.0013 10.6618 11.7067 8.66667H11.7217C11.8171 8.39552 11.8893 8.11673 11.9375 7.83334H13.6142C13.1942 11.1666 10.3596 13.6666 6.99999 13.6667H6.99166C5.22396 13.672 3.52763 12.9698 2.28083 11.7167L0.333328 13.6667ZM2.06166 6.16667H0.384995C0.804786 2.83467 3.63749 0.335121 6.99583 0.333301H6.99999C8.76802 0.327644 10.4648 1.02987 11.7117 2.28334L13.6667 0.333301V6.16667H7.83333L10.5183 3.48334C9.5924 2.53637 8.32441 2.00179 6.99999 2C4.88379 2.00313 2.99873 3.33815 2.29333 5.33334H2.27833C2.18213 5.60426 2.1099 5.88311 2.06249 6.16667H2.06166Z' fill='%23f29e0d'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border-radius: 10px 0 0 10px;
}

.button--5::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 55px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background-color: #fff;
  transform: rotate(45deg);
  transition:  transform 0.3s ease;
}

.button--5:hover,
.button--5:focus{
  background-color: #f58500;
}

.button--5:hover::after,
.button--5:focus::after {
  transform: rotate(45deg) scale(1.3);
}

.button--6 {
  position: relative;
  padding: 20px 40px;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 8px;
  overflow: hidden;
}

.button--6 span {
  display: inline-block;
}

.button--6::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14' fill='none'%3E%3Cpath d='M1 13L7 7L1 1' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  position: absolute;
  right: 0;
  width: 40px;
  height: 20px;
  transform: translateX(40px);
}

.button--6 span,
.button--6::after {
  transition: transform 0.3s ease;
}

.button--6:hover span,
.button--6:hover::after,
.button--6:focus span,
.button--6:focus::after{
  transform: translateX(-10px);
}
