*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  font-family: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Manrope', Arial, sans-serif;
  font-size: 16px;
  background-color: #eeeeee;
}

.header {
  background-color: #2C2C2C;
}

/* навигация */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 110px;
}

.menu__logo-link {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  z-index: 150;
}

.menu__burger {
  z-index: 150;
}

.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 110;
  padding-top: 200px;
  padding-bottom: 50px;
  background-color: #2c2c2c;
  color: #ffffff;
  
  display: none;
}

.menu--open .main-nav {
  display: block;
}

.main-nav__wrap {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: center;
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
  line-height: 100%;
}

.main-nav__link:hover {
  color: #43B031;
}

.main-nav__address-link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.main-nav__address-link:hover {
  color: #43B031;
}

.burger {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger__line {
  display: block;
  position: absolute;
  left: 7px;
  right: 7px;
  height: 2px;
  background-color: #ffffff;
}

.burger__line:nth-child(1) {
  top: 13px;
}

.burger__line:nth-child(2) {
  top: 23px;
}

.burger__line:nth-child(3) {
  top: 23px;
}

.burger__line:nth-child(4) {
  top: 33px;
}

.burger:hover .burger__line {
  background-color: #43b031;
}

.header__slider {
  height: 700px;
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 30px;
}

.slider__img {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  z-index: 10;
}

.slider__title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 20;
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
  color: #fff;
  width: 65%;
  padding-left: 110px;
  align-self: end;
  margin: 0;
}

.slider__text {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  z-index: 20;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-left: 110px;
  margin: 0;
}

.slider__togglers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  z-index: 20;
  bottom: 40px;
  right: 110px;
}

.slider__btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider__btn:disabled {
  opacity: 0.5;
}

.slider__btn-icon {
  fill: #fff;
}

.slider__btn:hover .slider__btn-icon {
  fill: #43B031;
}

.slider__btn--prev .slider__btn-icon {
  transform: rotate(180deg);
}

.slider__modal-btn {
  position: absolute;
  z-index: 100;
  left: 110px;
  bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.slider__modal-btn:hover, 
.slider__modal-btn:focus {
  color: #43B031;
}

/* модальное окно  */
.modal {
  position: fixed;
  background-color: rgba(44, 44, 44, 0.9);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  display: none;
}

.modal--open {
  pointer-events: auto;
  display: block;
}

.modal__wrap {
  max-width: 420px;
  padding: 25px 30px 35px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}

.modal__title {
  order: -1;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #2C2C2C;
}

.modal__close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.modal__form {
  flex-grow: 1;
  width: 100%;
}

.callback__field {
  display: block;
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid #2C2C2C;
  color: #2C2C2C;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 25px;
}

.callback__field--message {
  resize: none;
}

.callback__field::placeholder {
  color: #B9B9B9;
  font-family: inherit;
  font-size: inherit;
}

.callback__button {
  background-color: #2C2C2C;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  border: none;
  padding: 6px 15px 7px 15px;
}

/* табы */
.works {
  background-color: #ffffff;
  padding: 80px 110px;
}

.works__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  color: #2C2C2C;
}

.tabs__links {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  gap: 50px;
  border-bottom: 1px solid #b9b9b9;
  margin-bottom: 40px;
}

.tabs__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #b9b9b9;
  padding: 8px 0;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

.tabs__link:hover {
  color: #43b031;
}

.tabs__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #43b031;
  transform-origin: left top;
}

.tabs__link--active {
  color: #2c2c2c;
}

.tabs__link--active::after {
  background-color: #2c2c2c;
}

.tabs__content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tab-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
}

.tab-content__item {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  pointer-events: none;
  z-index: 10;
  gap: 20px;
  justify-content: space-between;
  display: none;
}

.tab-content__item--active {
  z-index: 20;
  pointer-events: auto;
  display: flex;
}

.tab-content__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.tab-content__img {
  max-width: 100%;
  display: block;
}

.tab-content__date {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 25px;
  color: #b9b9b9;
}

.tab-content__name {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #2C2C2C;
}

.tab-content__text {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #2C2C2C;
}

.tab-content__link {
  padding: 6px 12px 7px 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #2c2c2c;
  cursor: pointer;
}

.tab-content__link:hover {
  background-color: #43b031;
}

/* аккордеон */
.faq {
  background-color: #2C2C2C;
  padding: 80px 110px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.faq__title {
  flex-basis: 400px;
  flex-shrink: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  margin: 0;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #b9b9b9;
}

.faq__item {
  border-bottom: 1px solid #b9b9b9;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
}

.faq__question {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: start;
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__question::after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("assets/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.faq__item--open .faq__question::after {
  transform: rotate(180deg);
}

.faq__answer {
  max-height: 0px;
  font-size: 16px;
  line-height: 22px;
}

.faq__answer * {
  margin-top: 20px;
  margin-bottom: 20px;
}
